/* ========== GENERAL ========== */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #50add8;
}

h2, h3 {
    color: #333;
}

/* ========== PRODUCT LIST ========== */
.product-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.product-card {
    background: rgb(123, 222, 244);
    border: 1px solid #aaa;
    border-radius: 8px;
    padding: 15px;
    width: 200px;
    text-align: center;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

.product-card img {
    width: 150px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* ===== BUTTON ===== */
button {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    background: #3a7bd5;
    color: white;
}

button:hover {
    background: #2f67b3;
}

/* ===== TABLE ===== */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: hidden;
}

table th {
    background: #3a7bd5;
    color: white;
    padding: 10px;
}

table td {
    padding: 10px;
    text-align: center;
}

table img {
    width: 80px;
    border-radius: 5px;
}

/* ===== LINK ===== */
a {
    text-decoration: none;
    color: #3a7bd5;
    font-weight: bold;
}

a:hover {
    color: #2f67b3;
}
